---
import ExperienceItem from "./ExperienceItem.astro";
const EXPERIENCE = [
  {
    date: "Actualmente...",
    title: "Desarrollador Jr",
    company: "Medespacio S.R.L.",
    description:
      "Responsable de la reesrtucturación e implementación de un visualizador de radiografias web optimizando su fucionamiento en entornos de escritorio y móviles. Implementación de nuevas funcionalidades y mejoras en la experiencia de usuario. Colaboración en el desarrollo de nuevas herramientas para la gestión de imágenes médicas en el contexto de mi país.",
    link: "https://www.medespacio.com/",
  },
  {
    date: "Noviembre 2024",
    title: "Pasante de Desarrollo Web Jr",
    company: "Geotec S.R.L.",
    description:
      "Encargado del diseño y desarrollo de una arquitectura SaaS multi-tenant; desarrollo de páginas web empresariales; optimización de reportes en sistemas ERP",
  },
  {
    date: "Febrero 2021 - Diciembre 2025",
    title: "Estudiante de Ingeniería de Sistemas",
    company: "UCATEC",
    description:
      "Durante la carrera he adquirido conocimientos de desarrollo web, arquitectura de software y gestión de proyectos, aplicándolos en proyectos académicos y personales.",
  },
];
---

<ol class="relative mt-16">
  {
    EXPERIENCE.map((experience) => (
      <li class="">
        <ExperienceItem {...experience} />
      </li>
    ))
  }
</ol>
